.pre-order-block.mx-20
    .img-pre-order(style="background-image: url('images/new-2.jpg')")
        img.mobile-preorder(src='images/carousel-mobile.png')
    .pre-order-visible-container
        h1.h1-pre-order
            |Актёрская озвучка
            br
            |Red dead redemption 2
            br
            |всего за 100О ₽
        p.text-pre-order Уже готово 40% озвучки, вы можете послушать пример и оформить подписку, чтобы первым получить профессиональную озвучку любимой игры
        .btn-pre-order-group
            button.btn.btn-gradient.btn-pre-order Предзаказ озвучки
            button.btn.btn-white.btn-play-video
                .btn-s1-play.card-mini-play
                | Смотреть видео
