<!-- Приемущества -->
.container-advantage.d-flex.justify-content-between.mt-110.mx-20
    .col-4.mobile-logo
        span.logo-advantage-white
    .col-xl-6.col-12
        .card.card-advantage
                    p.text запускается
                        span.text-red-mobile  параллельно с игрой
                    p.text
                        |распознаёт,
                        br
                        |а за тем озвучивает
                        br
                        |текст субтитров
                        span.text-red-mobile  на лету.
                    p.text вам не нужно читать субтитры во время игры, они
                        span.text-red-mobile  будут озвучены программой.
        .card.card-advantage.card-white
                    p.text
                        |Не важно
                        span.text-red-mobile  лицензия
                        |  или
                        span.text-red-mobile  народная версия
                        |  игры!
                    p.text Dictor Dialog
                    p.text.red-text будет работать

