<!-- Вопрос/Ответ-->

h2.h2-faq.mx-20 Вопрос/ответ

.container-faq.d-flex.flex-column.mx-20
    .question
        .question-container
            h3 Я могу играть онлайн?
            p Да вы можете играть онлайн в любую игру. Мы не затрагиваем файлы игры, а распознаем текст на экране монитора. Это абсолютно безопасно.
    .question
        .question-container
            h3 Я могу играть онлайн?
            p Да вы можете играть онлайн в любую игру. Мы не затрагиваем файлы игры, а распознаем текст на экране монитора. Это абсолютно безопасно.
    .question
        .question-container
            h3 Я могу играть онлайн?
            p Да вы можете играть онлайн в любую игру. Мы не затрагиваем файлы игры, а распознаем текст на экране монитора. Это абсолютно безопасно.
    .question
        .question-container
            h3 Я могу играть онлайн?
            p Да вы можете играть онлайн в любую игру. Мы не затрагиваем файлы игры, а распознаем текст на экране монитора. Это абсолютно безопасно.
    .question
        .question-container
            h3 Я могу играть онлайн?
            p Да вы можете играть онлайн в любую игру. Мы не затрагиваем файлы игры, а распознаем текст на экране монитора. Это абсолютно безопасно.

