.container-privacy-policy
    h1.h1-privacy-policy Политика конфиденциальности
    h3.h3-privacy-policy Заголовок 3-го уровня
    h4.h4-privacy-policy Заголовок 4-го уровня
    h5.h5-privacy-policy Заголовок 5-го уровня
    p.text-privacy-policy
        |Настоящее положение «Политика конфиденциальности» (далее — Положение) содержит основы обработки персональной информации, которую мы собираем в отношении Клиентов согласно ФЗ «О персональных данных» № 152-ФЗ. Сайт https://DictorDialog.com/ принадлежит ИП Скорнякову Николаю Юрьевичу (далее — Исполнитель), адрес регистрации: 188677 Ленинградская обл. г. Мурино ул. Воронцовский бу-р д. 20 к1. Используя данный сайт, вы соглашаетесь с условиями настоящего Положения.
    p.text-privacy-policy
        |В соответствии с Договором на оказание услуг (ПУБЛИЧНАЯ ОФЕРТА) Исполнитель обязуется оказать Клиенту услуги по предоставлению доступа к сервису программного обеспечения конструктора (согласно выборному тарифу и продукту) на сайте https://DictorDialog.com/ далее по тексту Dictor Dialog.
    p.text-privacy-policy
        |1. При регистрации в сервисах Dictor Dialog Клиент предоставляет следующую информацию: логин, пароль, электронный почтовый адрес
    p.text-privacy-policy
        |2. Обработка персональных данных — любое действие (операция) или совокупность действий (операций) с персональными данными, совершаемых с использованием средств автоматизации или без использования таких средств. К таким действиям (операциям) можно отнести: сбор, получение, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
    p.text-privacy-policy
        |Предоставляя свои персональные данные Клиент соглашается на их обработку, в том числе в целях выполнения Исполнителем обязательств перед Клиентом, а именно — предоставление доступа к сервисам Dictor Dialog, информирование об новостях и акциях сервиса.
    p.text-privacy-policy
        |3. Хранимая информация будет использована в следующих целях: отправка информационных, в том числе рекламных сообщений, на электронную почту. Клиент вправе отказаться от получения рекламной и другой информации путём информирования Исполнителя. Для этого достаточно направить соответствующее заявление в Службу поддержки Исполнителя, на электронную почту или сообщением в группу созданную в социальной сети ВК.
    p.text-privacy-policy
        |4. Исполнитель вправе использовать технологию «cookies». «Cookies» не содержат конфиденциальную информацию. Клиент настоящим даёт согласие на сбор, анализ и использование cookies, в том числе третьими лицами для целей формирования статистики и оптимизации рекламных сообщений.
    p.text-privacy-policy
        |5. Клиент при необходимости может изменить информацию о своих персональных данных, обратившись в Службу поддержки Исполнителя https://DictorDialog.com/.
    p.text-privacy-policy
        |6. Исполнитель не несёт ответственности за сведения, предоставленные Клиентом на сайте https://DictorDialog.com/ в общедоступной форме.
