.col-xl-3.col-md-4.col-6
    .card
        .img-container
            img.img(src="images/cart-mp3.jpg")
        .card-body
            h5.card-title Max Payne 3 - русский дубляж
            p.card-text 350 руб/навсегда
            .btn-group-cardGame.d-flex.justify-content-between
                button.btn.btn-gradient.btn-buy.btn-buy-mobile Купить
                button.btn.btn-white.btn-video.btn-video-mobile
                    .btn-s1-play.card-mini-play
                    |Видео
