.container-lk
    .welcome
        .welcome-mame
            p.hello-name Привет, alexander12039409@gmail.com
            p.date-registration Вы с нами с 03.12.2022
        a.exit-link(href='#').exit
            p Выход
            svg(width='42' height='42' viewbox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg')
                g(clip-path='url(#clip0_189_4356)')
                    path(d='M26.8334 4.66663H8.16671C7.54787 4.66663 6.95438 4.91246 6.51679 5.35004C6.07921 5.78763 5.83337 6.38112 5.83337 6.99996V35C5.83337 35.6188 6.07921 36.2123 6.51679 36.6499C6.95438 37.0875 7.54787 37.3333 8.16671 37.3333H26.8334C27.4522 37.3333 28.0457 37.0875 28.4833 36.6499C28.9209 36.2123 29.1667 35.6188 29.1667 35V28H18.235C17.9256 28 17.6289 27.877 17.4101 27.6583C17.1913 27.4395 17.0684 27.1427 17.0684 26.8333C17.0684 26.5239 17.1913 26.2271 17.4101 26.0083C17.6289 25.7895 17.9256 25.6666 18.235 25.6666H29.1667V6.99996C29.1667 6.38112 28.9209 5.78763 28.4833 5.35004C28.0457 4.91246 27.4522 4.66663 26.8334 4.66663Z' fill='black')
                    path(d='M26.8334 4.66663H8.16671C7.54787 4.66663 6.95438 4.91246 6.51679 5.35004C6.07921 5.78763 5.83337 6.38112 5.83337 6.99996V35C5.83337 35.6188 6.07921 36.2123 6.51679 36.6499C6.95438 37.0875 7.54787 37.3333 8.16671 37.3333H26.8334C27.4522 37.3333 28.0457 37.0875 28.4833 36.6499C28.9209 36.2123 29.1667 35.6188 29.1667 35V28H18.235C17.9256 28 17.6289 27.877 17.4101 27.6583C17.1913 27.4395 17.0684 27.1427 17.0684 26.8333C17.0684 26.5239 17.1913 26.2271 17.4101 26.0083C17.6289 25.7895 17.9256 25.6666 18.235 25.6666H29.1667V6.99996C29.1667 6.38112 28.9209 5.78763 28.4833 5.35004C28.0457 4.91246 27.4522 4.66663 26.8334 4.66663Z' fill='url(#paint0_linear_189_4356)')
                    path(d='M32.8533 20.1601C32.6301 19.9689 32.343 19.869 32.0494 19.8804C31.7558 19.8917 31.4772 20.0134 31.2695 20.2212C31.0617 20.429 30.94 20.7075 30.9286 21.0012C30.9173 21.2948 31.0172 21.5819 31.2083 21.8051L35.1516 25.6667H29.1666V28H35.1516L31.2083 32.0367C31.0862 32.1413 30.987 32.27 30.9169 32.4148C30.8469 32.5595 30.8076 32.7171 30.8014 32.8778C30.7952 33.0385 30.8222 33.1987 30.8809 33.3484C30.9395 33.4981 31.0285 33.6341 31.1422 33.7478C31.2559 33.8615 31.3919 33.9505 31.5416 34.0091C31.6913 34.0678 31.8515 34.0949 32.0122 34.0886C32.1729 34.0824 32.3305 34.0431 32.4753 33.9731C32.62 33.903 32.7487 33.8038 32.8533 33.6817L39.6666 26.915L32.8533 20.1601Z' fill='black')
                    path(d='M32.8533 20.1601C32.6301 19.9689 32.343 19.869 32.0494 19.8804C31.7558 19.8917 31.4772 20.0134 31.2695 20.2212C31.0617 20.429 30.94 20.7075 30.9286 21.0012C30.9173 21.2948 31.0172 21.5819 31.2083 21.8051L35.1516 25.6667H29.1666V28H35.1516L31.2083 32.0367C31.0862 32.1413 30.987 32.27 30.9169 32.4148C30.8469 32.5595 30.8076 32.7171 30.8014 32.8778C30.7952 33.0385 30.8222 33.1987 30.8809 33.3484C30.9395 33.4981 31.0285 33.6341 31.1422 33.7478C31.2559 33.8615 31.3919 33.9505 31.5416 34.0091C31.6913 34.0678 31.8515 34.0949 32.0122 34.0886C32.1729 34.0824 32.3305 34.0431 32.4753 33.9731C32.62 33.903 32.7487 33.8038 32.8533 33.6817L39.6666 26.915L32.8533 20.1601Z' fill='url(#paint1_linear_189_4356)')
                defs
                    lineargradient#paint0_linear_189_4356(x1='28.0542' y1='5.80959' x2='3.36261' y2='10.5262' gradientunits='userSpaceOnUse')
                        stop(stop-color='#CE035A')
                        stop(offset='1' stop-color='#FD3950')
                    lineargradient#paint1_linear_189_4356(x1='39.166' y1='20.3767' x2='28.0822' y2='22.567' gradientunits='userSpaceOnUse')
                        stop(stop-color='#CE035A')
                        stop(offset='1' stop-color='#FD3950')
                    clippath#clip0_189_4356
                        rect(width='42' height='42' fill='white')
    .subscriptions
        .list-games
            .container-scroll
                ul#pills-tab.nav.nav-pills(role='tablist')
                    li.nav-item(role='presentation')
                        button#pills-home-tab.nav-link.active(data-bs-toggle='pill' data-bs-target='#pills-home' type='button' role='tab' aria-controls='pills-home' aria-selected='true') Подписки
                    li.nav-item(role='presentation')
                        button#pills-profile-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-profile' type='button' role='tab' aria-controls='pills-profile' aria-selected='false') Корзина
            #pills-tabContent.tab-content
                #pills-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-home-tab' tabindex='0')
                    .row
                        .col-xl-3.col-6.col-add-more
                            .card.add-more
                                svg(width='73' height='73' viewbox='0 0 73 73' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    rect(x='32.2769' width='8.44628' height='73' rx='4.22314' fill='#D9D9D9')
                                    rect(y='40.7231' width='8.44628' height='73' rx='4.22314' transform='rotate(-90 0 40.7231)' fill='#D9D9D9')
                                p Добавить ещё


                        include ../purchasedSubscribe/purchasedSubscribe
                        include ../purchasedSubscribe/purchasedSubscribe
                        include ../purchasedSubscribe/purchasedSubscribe
                        include ../purchasedSubscribe/purchasedSubscribe
                    // row
                #pills-profile.tab-pane.fade(role='tabpanel' aria-labelledby='pills-profile-tab' tabindex='0')
                    include ../basket/basket
