.trailer-game-block.mx-20
    h1.h1-trailer-game Трейлер игры на русском
    a.lets-play(data-video='https://www.youtube.com/watch?v=EngW7tLk6R8')
        .video-trailer-block
            img(src="images/accordion-rdr2-1.jpg")
            .btn-s1-play
    h4.h4-trailer-game Read dead redemption 2 (Проффесиональная закадровая озвучка на русском
    p.text-trailer-game Пример озвучки из RDR 2
