.container-game.mx-20
    .d-flex.flex-xl-row.flex-column.row-game
        .col-3.fast-buy
            .fast-buy-card
                img.img-fast-buy(src="images/cart-mp3.jpg")
                .fast-card-body
                    .block-download-btn
                        a(href='#')
                            svg(width='38' height='38' viewbox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M8.07953 0.52002C3.91313 0.52002 0.519531 3.91362 0.519531 8.08002V19.3281L11.8169 24.9719C12.2285 25.1735 12.3977 25.6774 12.1877 26.0974C12.0449 26.3914 11.7503 26.56 11.4395 26.56C11.3135 26.56 11.1882 26.5353 11.0622 26.4681L0.519531 21.2001V29.92C0.519531 34.0864 3.91313 37.48 8.07953 37.48H29.9195C34.0859 37.48 37.4795 34.0864 37.4795 29.92V8.08002C37.4795 3.91362 34.0859 0.52002 29.9195 0.52002H8.07953ZM24.4595 5.56002C28.8611 5.56002 32.4395 9.13842 32.4395 13.54C32.4395 17.9416 28.8611 21.52 24.4595 21.52C23.5355 21.52 22.6452 21.3682 21.7968 21.0574L17.8068 24.0646C18.042 24.7282 18.1595 25.426 18.1595 26.14C18.1595 29.6176 15.3371 32.44 11.8595 32.44C8.38193 32.44 5.55953 29.6176 5.55953 26.14C5.55953 25.9552 5.56754 25.7783 5.57594 25.6019L10.3141 27.971C10.6669 28.1474 11.0531 28.24 11.4395 28.24C12.3971 28.24 13.2621 27.7023 13.6905 26.8455C14.3121 25.6023 13.8082 24.0907 12.565 23.4691L7.98766 21.1755C9.05446 20.3355 10.3979 19.84 11.8595 19.84C12.6155 19.84 13.3624 19.975 14.0596 20.2354L16.9586 16.27C16.6394 15.3964 16.4795 14.4808 16.4795 13.54C16.4795 9.13842 20.0579 5.56002 24.4595 5.56002ZM24.4595 8.92002C21.9179 8.92002 19.8395 10.9984 19.8395 13.54C19.8395 16.0816 21.9179 18.16 24.4595 18.16C27.0011 18.16 29.0795 16.0816 29.0795 13.54C29.0795 10.9984 27.0011 8.92002 24.4595 8.92002ZM24.4595 10.6C26.0932 10.6 27.3995 11.9064 27.3995 13.54C27.3995 15.1737 26.0932 16.48 24.4595 16.48C22.8259 16.48 21.5195 15.1737 21.5195 13.54C21.5195 11.9064 22.8259 10.6 24.4595 10.6Z' fill='white')

                        a(href='#')
                            svg(width='37' height='38' viewbox='0 0 37 38' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M5.59945 0.52002C2.75285 0.52002 0.439453 2.77962 0.439453 5.56002V32.6418L18.4995 37.9328L36.5595 32.6418V5.56002C36.5595 2.77962 34.2461 0.52002 31.3995 0.52002H5.59945ZM6.45945 4.72002H9.89945V7.24002H6.45945V13.12H9.03945V15.64H6.45945V21.52H9.89945V24.04H6.45945C5.03185 24.04 3.87945 22.9144 3.87945 21.52V7.24002C3.87945 5.84562 5.03185 4.72002 6.45945 4.72002ZM11.6195 4.72002H16.7795C18.2071 4.72002 19.3595 5.84562 19.3595 7.24002V13.12C19.3595 14.5144 18.2071 15.64 16.7795 15.64H14.1995V24.04H11.6195V4.72002ZM21.0795 4.72002H23.6595V24.04H21.0795V4.72002ZM27.9595 4.72002H30.5395C31.9671 4.72002 33.1194 5.84562 33.1194 7.24002V10.6H30.5395V7.24002H27.9595V21.52H30.5395V18.16H33.1194V21.52C33.1194 22.9144 31.9671 24.04 30.5395 24.04H27.9595C26.5319 24.04 25.3795 22.9144 25.3795 21.52V7.24002C25.3795 5.84562 26.5319 4.72002 27.9595 4.72002ZM14.1995 7.24002V13.12H16.7795V7.24002H14.1995ZM4.73945 26.56H8.17945C8.65245 26.56 9.03945 26.938 9.03945 27.4V28.24H8.17945V27.61C8.17945 27.4924 8.08485 27.4 7.96445 27.4H4.95445C4.83405 27.4 4.73945 27.4924 4.73945 27.61V30.55C4.73945 30.6676 4.83405 30.76 4.95445 30.76H7.96445C8.08485 30.76 8.17945 30.6676 8.17945 30.55V29.92H7.31945V29.08H9.03945V30.76C9.03945 31.222 8.65245 31.6 8.17945 31.6H4.73945C4.26645 31.6 3.87945 31.222 3.87945 30.76V27.4C3.87945 26.938 4.26645 26.56 4.73945 26.56ZM12.4795 26.56H13.3395L15.9195 31.6H15.0595L14.6295 30.76H11.1895L10.7595 31.6H9.89945L12.4795 26.56ZM16.7795 26.56H17.6395L19.3595 29.92L21.0795 26.56H21.9395V31.6H21.0795V28.24L19.7895 30.76H18.9295L17.6395 28.24V31.6H16.7795V26.56ZM22.7995 26.56H27.0995V27.4H23.6595V28.66H25.3795V29.5H23.6595V30.76H27.0995V31.6H22.7995V26.56ZM28.8195 26.56H32.2595C32.7325 26.56 33.1194 26.938 33.1194 27.4V27.82H32.2595V27.61C32.2595 27.4924 32.1649 27.4 32.0445 27.4H29.0345C28.9141 27.4 28.8195 27.4924 28.8195 27.61V28.45C28.8195 28.5676 28.9141 28.66 29.0345 28.66H32.2595C32.7325 28.66 33.1194 29.038 33.1194 29.5V30.76C33.1194 31.222 32.7325 31.6 32.2595 31.6H28.8195C28.3465 31.6 27.9595 31.222 27.9595 30.76V30.34H28.8195V30.55C28.8195 30.6676 28.9141 30.76 29.0345 30.76H32.0445C32.1649 30.76 32.2595 30.6676 32.2595 30.55V29.71C32.2595 29.5924 32.1649 29.5 32.0445 29.5H28.8195C28.3465 29.5 27.9595 29.122 27.9595 28.66V27.4C27.9595 26.938 28.3465 26.56 28.8195 26.56ZM12.9095 27.4L11.6195 29.92H14.1995L12.9095 27.4Z' fill='white')

                        a(href='#')
                            svg(width='39' height='38' viewbox='0 0 39 38' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M8.32008 0.52002C4.05448 0.52002 0.580078 3.91362 0.580078 8.08002V29.92C0.580078 34.0864 4.05448 37.48 8.32008 37.48H30.6801C34.9457 37.48 38.4201 34.0864 38.4201 29.92V8.08002C38.4201 3.91362 34.9457 0.52002 30.6801 0.52002H8.32008ZM11.5199 6.40002H18.6401C21.7877 6.40002 24.006 7.12196 23.748 10.5492C23.5158 13.7076 21.4267 14.2881 21.4267 14.2881C21.4267 14.2881 22.1059 15.5057 21.8651 17.8073C21.6157 20.2349 21.8916 21.1336 22.1238 21.52H17.8926C17.8926 21.52 17.6513 21.0242 17.7717 20.0582C18.1415 17.1854 17.7191 15.64 15.6637 15.64H13.1962L11.8726 21.52H8.19914L11.5199 6.40002ZM14.5887 8.94463L13.7471 13.0954H17.5903C18.7513 13.0954 19.9902 12.7162 20.2912 11.2546C20.6008 9.76783 19.5267 8.94463 18.3915 8.94463H14.5887ZM25.8039 18.16L26.6203 23.1754H31.5401L27.0688 26.4091L28.1001 31.6L23.9462 28.45L18.6401 31.6L21.1344 26.2319L17.7801 23.2H22.9401L25.8039 18.16Z' fill='white')
                        a(href='#')
                            svg(width='40' height='40' viewbox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M19.9997 0.680176C9.34597 0.680176 0.679688 9.34646 0.679688 20.0002C0.679688 30.6539 9.34597 39.3202 19.9997 39.3202C30.6534 39.3202 39.3197 30.6539 39.3197 20.0002C39.3197 9.34646 30.6534 0.680176 19.9997 0.680176ZM33.0197 25.0091C30.4157 25.0091 28.9037 22.9931 28.9037 22.9931C28.9037 22.9931 27.6437 28.4002 21.6797 28.4002C20.5037 28.4002 18.6557 27.6971 18.6557 27.6971L22.1585 35.7972C21.4504 35.893 20.7338 35.9602 19.9997 35.9602C18.1878 35.9602 16.4532 35.6435 14.8295 35.0874L6.75877 13.155C6.75877 13.155 6.17077 12.147 7.09477 11.895C8.01877 11.643 11.6308 10.887 11.6308 10.887C11.6308 10.887 12.8698 10.4721 13.1428 11.307C13.5628 12.399 16.5557 20.6411 16.5557 20.6411C16.5557 20.6411 17.9837 23.3602 22.0157 23.3602C25.9637 23.3602 26.9717 20.4731 26.8037 20.0531C25.7957 17.5331 22.6096 10.089 22.6096 10.089C22.6096 10.089 22.1056 9.16502 23.2816 8.91302C24.4576 8.66102 26.4736 8.32502 26.4736 8.32502C26.4736 8.32502 27.4018 8.1881 27.8176 8.99702C28.4375 10.2041 32.1797 18.4571 32.1797 18.4571C32.1797 18.4571 33.1037 20.8931 34.9517 20.8931C35.3414 20.8931 35.6522 20.8545 35.9194 20.8057C35.8505 22.1791 35.627 23.5114 35.2331 24.7722C34.7341 24.9285 34.0747 25.0091 33.0197 25.0091Z' fill='white')
                    h4.h4-fats-buy 350 руб/навсегда
                    p.fast-buy-text Внимание! Мы не продаем игры, а только озвучку, будьте внимательны.
                    button.btn.btn-gradient.btn-buy.btn-fats-buy Быстрая покупка
                    button.btn.btn-white.btn-video.btn-video-fats-buy Добавить корзину
        .col-9.game-card
            .short-description
                h3.header-short-description Max Payne 3 - русская озвучка
                p.voice-short-description Yandex Озвучка
                p.text-short-description Max Payne 3 (Макс Пейн 3) начинает новую главу в жизни Макса. Мы окажемся в центре событий по прошествии 9 лет, после предыдущего выпуска игры. Играйте в легендарную игру с русской озвучкой
            .video-instruction-block
                .list-games
                    .container-scroll
                        ul#pills-tab.nav.nav-pills(role='tablist')
                            li.nav-item(role='presentation')
                                button#pills-home-tab.nav-link.active(data-bs-toggle='pill' data-bs-target='#pills-home' type='button' role='tab' aria-controls='pills-home' aria-selected='true') Видео
                            li.nav-item(role='presentation')
                                button#pills-profile-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-profile' type='button' role='tab' aria-controls='pills-profile' aria-selected='false') Инструкция по установке
                    #pills-tabContent.tab-content
                        #pills-home.tab-pane.fade.show.active.container-video-instruction(role='tabpanel' aria-labelledby='pills-home-tab' tabindex='0')
                            .row
                                .col-xl-6.col-12.video-instruction-card
                                    .img-btn-container
                                        img.img-video-preview(src=('images/accordion-gta5-1.jpg'))
                                        a.lets-play(data-video='https://www.youtube.com/watch?v=EngW7tLk6R8')
                                            img.img-lets-play(src='images/btn-play.png')
                                    p.text-video-instruction Max Payne 3 Русская озвучка Yandex (Intro)
                                .col-xl-6.col-12.video-instruction-card
                                    .img-btn-container
                                        img.img-video-preview(src=('images/accordion-gta5-1.jpg'))
                                        a.lets-play(data-video='https://www.youtube.com/watch?v=EngW7tLk6R8')
                                            img.img-lets-play(src='images/btn-play.png')
                                    p.text-video-instruction Max Payne 3 Русская озвучка Yandex (Intro)
                                .col-xl-6.col-12.video-instruction-card
                                    .img-btn-container
                                        img.img-video-preview(src=('images/accordion-gta5-1.jpg'))
                                        a.lets-play(data-video='https://www.youtube.com/watch?v=EngW7tLk6R8')
                                            img.img-lets-play(src='images/btn-play.png')
                                    p.text-video-instruction Max Payne 3 Русская озвучка Yandex (Intro)
                                .col-xl-6.col-12.video-instruction-card
                                    .img-btn-container
                                        img.img-video-preview(src=('images/accordion-gta5-1.jpg'))
                                        a.lets-play(data-video='https://www.youtube.com/watch?v=EngW7tLk6R8')
                                            img.img-lets-play(src='images/btn-play.png')
                                    p.text-video-instruction Max Payne 3 Русская озвучка Yandex (Intro)
                                .col-xl-6.col-12.video-instruction-card
                                    .img-btn-container
                                        img.img-video-preview(src=('images/accordion-gta5-1.jpg'))
                                        a.lets-play(data-video='https://www.youtube.com/watch?v=EngW7tLk6R8')
                                            img.img-lets-play(src='images/btn-play.png')
                                    p.text-video-instruction Max Payne 3 Русская озвучка Yandex (Intro)
                                .col-xl-6.col-12.video-instruction-card
                                    .img-btn-container
                                        img.img-video-preview(src=('images/accordion-gta5-1.jpg'))
                                        a.lets-play(data-video='https://www.youtube.com/watch?v=EngW7tLk6R8')
                                            img.img-lets-play(src='images/btn-play.png')
                                    p.text-video-instruction Max Payne 3 Русская озвучка Yandex (Intro)


                        #pills-profile.tab-pane.fade(role='tabpanel' aria-labelledby='pills-profile-tab' tabindex='0') ыва ыв а ыв а ыва

            .recommendations
                h2.h2-recommendations Рекомендуем посмотреть
                .row.row-recommendations
                    .col-xl-4.col-6.col-recommendations
                        .card-recommendations
                            img.img-recommendations(src="images/cart-mp3.jpg")
                            .card-body-recommendations
                                h5.h5-card-title Max Payne 3 - русский дубляж
                                p.card-text-card-recommendations 350 руб/навсегда
                                .btn-group-cardGame.d-flex.justify-content-between
                                    button.btn.btn-gradient.btn-buy.btn-buy-mobile Купить
                                    button.btn.btn-white.btn-video.btn-video-mobile
                                        .btn-s1-play.card-mini-play
                                        | Видео
                    .col-xl-4.col-6.col-recommendations
                        .card-recommendations
                            img.img-recommendations(src="images/cart-mp3.jpg")
                            .card-body-recommendations
                                h5.h5-card-title Max Payne 3 - русский дубляж
                                p.card-text-card-recommendations 350 руб/навсегда
                                .btn-group-cardGame.d-flex.justify-content-between
                                    button.btn.btn-gradient.btn-buy.btn-buy-mobile Купить
                                    button.btn.btn-white.btn-video.btn-video-mobile
                                        .btn-s1-play.card-mini-play
                                        | Видео
                    .col-xl-4.col-6.col-recommendations
                        .card-recommendations
                            img.img-recommendations(src="images/cart-mp3.jpg")
                            .card-body-recommendations
                                h5.h5-card-title Max Payne 3 - русский дубляж
                                p.card-text-card-recommendations 350 руб/навсегда
                                .btn-group-cardGame.d-flex.justify-content-between
                                    button.btn.btn-gradient.btn-buy.btn-buy-mobile Купить
                                    button.btn.btn-white.btn-video.btn-video-mobile
                                        .btn-s1-play.card-mini-play
                                        | Видео


