.container-basket
    .basket-list
        .row
            .col-xl-8
                .container-pay-game
                    .container-img-pay-game
                        img.img-pay-game(src="images/cart-mp3.jpg")
                    .container-text-pay
                        p.text-pay-name
                            | Max Payne 3 -
                            br
                            |русский дубляж
                        p.text-pay-price 350 ₽/игра
                        button.btn.btn-white.btn-pay-delete(type='button') Убрать
                .container-pay-game
                    .container-img-pay-game
                        img.img-pay-game(src="images/cart-mp3.jpg")
                    .container-text-pay
                        p.text-pay-name
                            | Max Payne 3 -
                            br
                            |русский дубляж
                        p.text-pay-price 350 ₽/игра
                        button.btn.btn-white.btn-pay-delete(type='button') Убрать
                .container-pay-game
                    .container-img-pay-game
                        img.img-pay-game(src="images/cart-mp3.jpg")
                    .container-text-pay
                        p.text-pay-name
                            | Max Payne 3 -
                            br
                            |русский дубляж
                        p.text-pay-price 350 ₽/игра
                        button.btn.btn-white.btn-pay-delete(type='button') Убрать

            .col-xl-4.col.sticky-basket
                .basket-list-sum
                    p.list-sum-headline Корзина
                    p.all-sum Общая сумма, 4 товара
                    p.number-sum 1 400 ₽
                    button.btn.btn-gradient.btn-pay(type='button') Опллатить
    h2.h2-basket Возможные игры
    .row
        include ../cardGame/cardGame
        include ../cardGame/cardGame
        include ../cardGame/cardGame
        include ../cardGame/cardGame
        include ../cardGame/cardGame
        include ../cardGame/cardGame
