.col-xl-3.col-6.nav-item-vk
    .card
        .img-container
            img.img(src="images/cart-mp3.jpg")
        .card-body
            h5.card-title Max Payne 3 - русский дубляж
            p.card-text 350 руб/навсегда
            .btn-group-cardGame.d-flex.justify-content-between

