.container-authorization.mx-20
    .img-authorization
        img(src="images/Group.png")
    .authorization
        img.img-logo(src="images/logo.svg")
        p.authorization-label-text Восстановить пароль
        p.social-media-login-text Укажите вашу электронную почту
        .form-control-container.success
            input#userEmail.form-control.form-control-email(type='email' placeholder='Эл. адрес')
        button.btn.btn-gradient.btn-login.btn-mb-8(type='button') Восстановить
        button.btn.btn-white.btn-login(type='button') Вернуться


