.btn-mb-8 {
  margin-bottom: 8px;
}

.main-container-password-recovery .container-authorization {
  min-height: 595px;
}

@media (max-width: 1239px) {
  .main-container-password-recovery .img-authorization {
    bottom: -222px;
  }
  .container-authorization {
    margin-top: 16px;

    border-radius: 24px;
  }
}
