h2.h2-voice-acting.mx-20 ПРИМЕРЫ ОЗВУЧКИ
// карусель - пример озвучки
.section-carousel.mx-20.mobile-section-carousel
    ul.carousel-sl
        li#1.items.main-pos
            .img(style="background-image: url('images/accordion-rdr2-1.jpg');")
            a.lets-play(data-video='https://www.youtube.com/watch?v=EngW7tLk6R8')
                img.position-absolute.translate-middle(src='images/btn-play.png')
            .carusel-igr-caption
                h5 Read Dead Redemption 2 (Озвучка актёрскими голосами)
                p Пример озвучки
        li#2.items.right-pos
            .img(style="background-image: url('images/accordion-mp3-1.jpg');")
            a.lets-play(data-video='https://www.youtube.com/watch?v=EngW7tLk6R8')
                img.position-absolute.translate-middle(src='images/btn-play.png')
            .carusel-igr-caption
                h5 Max Payne 3 (Озвучка актёрскими голосами)
                p.text2 Пример озвучки
        li#3.items.back-pos
            .img(style="background-image: url('images/accordion-gta5-1.jpg');")
            a.lets-play(data-video='https://www.youtube.com/watch?v=EngW7tLk6R8')
                img.position-absolute.translate-middle(src='images/btn-play.png')
            .carusel-igr-caption
                h5 Grand Theft Auto V (Озвучка актёрскими голосами)
                p.text2 Пример озвучки
        li#4.items.back-pos
            .img(style="background-image: url('images/accordion-gta4-1.jpg');")
            a.lets-play(data-video='https://www.youtube.com/watch?v=EngW7tLk6R8')
                img.position-absolute.translate-middle(src='images/btn-play.png')
            .carusel-igr-caption
                h5 Grand Theft Auto IV (Озвучка актёрскими голосами)
                p.text2 Пример озвучки
        li#5.items.left-pos
            .img(style="background-image: url('images/accordion-EldenRing-1.jpg');")
            a.lets-play(data-video='https://www.youtube.com/watch?v=EngW7tLk6R8')
                img.position-absolute.translate-middle(src='images/btn-play.png')
            .carusel-igr-caption
                h5 Elden Ring (Озвучка актёрскими голосами)
                p.text2 Пример озвучки
