.progress-project-block.mx-20
    h2.h2-progress-project Прогресс проекта
    .progress-content
        // TODO: сюда вставлять проценты
        .progress(style=`width: ${25}%`)
        .content
            .content-text
                .total-translate
                    .total-translate-text
                        p.top-text Диалогов в игре
                        p.gradient-text 500 тысяч строчек
                    .total-translate-text
                        p.top-text Времени озвучки
                        p.gradient-text 1500 минут
                    .total-translate-text
                        p.top-text Стоимость
                        p.gradient-text 1,5  ₽/мин
                .left-translate
                    p.top-text Уже готово озвучки
                    p.white-bottom-text
                        span.gradient-bottom-text 140
                        |  минут /
                        span.gradient-bottom-text 25 %
                        |  игры
            button.btn.btn-gradient.btn-support-project Поддержать проект

