.container-progress-game
    include ../preOrderVisible/preOrderVisible
    .buy-voice-acting
        include ../voiceActingCarousel/voiceActingCarousel
        button.btn.btn-gradient.btn-voice-acting Купить озвучку игры
    include ../trailerGame/trailerGame
    include ../progressProjeckt/progressProjeckt
    include ../instructionInstall/instructionInstall
    include ../advantage/advantage
    include ../comments/comments
    include ../freeDemo/freeDemo
    include ../registration/registration
    include ../faq/faq
