.instruction-install-block.mx-20
    h2.h2-instruction-install Инструкция по запуску
    .container-text-instruction
        p.text-instruction-install Для правильной работы программы с игрой Red Dead Redemption 2 надо соблюдать несколько условий:
        p.text-instruction-install 1. Лучшее качество распознования текста будет с разрешением экрана 1920х1080 и выше.
        p.text-instruction-install 2. Запустить игру в одном из этих разрешений экрана:
        ul
            li 1280x720
            li 1280x1024
            li 1440x900
            li 1600x900
            li 1680x1050
            li 1920x1080
            li 2560x1080
            li 2560x1440
            li 3440x1440
            li 3840x1600
            li 3840x2160
        p.text-instruction-install 3. В настройках графики выбрать DirectX12 вместо Vulkan (иногда и с Vulkan работает). После этого перезапустить игру!4. Если программа молчит, то запустить игру в оконном режиме. В таком случае всё должно заработать.5. Включить в настройках игры: "Имя говорящего в субтитрах".
        p.text-instruction-install Если программа не работает или работает с ошибками в произношении, напишите об этом сообщение в группу ВК и я помогу вам.
    img.img-instruction-bottom(src="images/image 43.png")
    img.img-instruction-top(src="images/image 44.png")
