<!-- Footer -->

footer
    .container-footer
        .container-footer-platforms.d-flex.justify-content-between
            .footer-logo.d-flex
                .logo-nav-white
                .logo-nav-razdelitel
                p.d-flex.flex-column.logo-nav-text
                    |Любимые игры
                    br
                    |с русской озвучкой
            .platforms.d-flex.align-items-center
                a(href='#')
                    svg(width='22' height='19' viewbox='0 0 22 19' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path.none-color(d='M5.22461 10.8138L7.57626 17.3202C7.57626 17.3202 7.87027 17.929 8.1851 17.929C8.49993 17.929 13.1826 13.0595 13.1826 13.0595L18.3898 3.00586L5.30852 9.13432L5.22461 10.8138Z' fill='#C8DAEA')
                        path.none-color(d='M8.34215 12.4814L7.89072 17.2766C7.89072 17.2766 7.70175 18.7459 9.17151 17.2766C10.6413 15.8073 12.0481 14.6743 12.0481 14.6743' fill='#A9C6D8')
                        path(d='M5.26632 11.0458L0.428901 9.47033C0.428901 9.47033 -0.149224 9.23588 0.0369325 8.70422C0.0752539 8.59458 0.152557 8.50129 0.383807 8.34097C1.45565 7.59417 20.2227 0.851491 20.2227 0.851491C20.2227 0.851491 20.7526 0.673005 21.0651 0.791721C21.1425 0.815643 21.212 0.859665 21.2667 0.919282C21.3214 0.978899 21.3593 1.05197 21.3765 1.13103C21.4103 1.27066 21.4244 1.41431 21.4185 1.55784C21.417 1.682 21.4019 1.79709 21.3905 1.97755C21.2762 3.82103 17.8557 17.5795 17.8557 17.5795C17.8557 17.5795 17.6511 18.3846 16.9178 18.4121C16.7376 18.418 16.5581 18.3874 16.39 18.3224C16.2218 18.2574 16.0685 18.1592 15.9392 18.0337C14.5003 16.7965 9.52709 13.4556 8.42816 12.7209C8.40337 12.704 8.3825 12.682 8.36694 12.6564C8.35138 12.6307 8.34151 12.6021 8.33797 12.5723C8.32261 12.4949 8.40685 12.3989 8.40685 12.3989C8.40685 12.3989 17.0665 4.70471 17.2969 3.89698C17.3148 3.8344 17.2474 3.80353 17.1569 3.83094C16.5817 4.04245 6.6112 10.3363 5.51078 11.031C5.43157 11.0549 5.34785 11.06 5.26632 11.0458Z' fill='white')

                a(href='#')
                    svg(width='30' height='19' viewbox='0 0 30 19' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M15.8438 18.8951C5.90504 18.8951 0.236205 12.0843 0 0.750977H4.97848C5.142 9.06932 8.81218 12.5928 11.7193 13.3193V0.750977H16.4073V7.92509C19.2781 7.61633 22.2939 4.34711 23.3114 0.750977H27.9992C27.2179 5.18258 23.9474 8.4518 21.6217 9.79581C23.9474 10.8855 27.6723 13.737 29.0896 18.8951H23.9292C22.8209 15.4443 20.0594 12.7744 16.4073 12.4112V18.8951H15.8438Z' fill='white')

                a(href='#')
                    svg(width='30' height='24' viewbox='0 0 30 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M24.6262 2.58588C22.7444 1.70542 20.7322 1.06553 18.6286 0.701172C18.3702 1.16827 18.0684 1.79652 17.8603 2.29629C15.6241 1.95999 13.4084 1.95999 11.2133 2.29629C11.0052 1.79652 10.6965 1.16827 10.4359 0.701172C8.32993 1.06553 6.31547 1.70777 4.43362 2.59055C0.637927 8.32634 -0.391024 13.9197 0.123452 19.4336C2.64096 21.3136 5.08072 22.4556 7.47931 23.203C8.07154 22.3879 8.59973 21.5214 9.05474 20.6083C8.18814 20.279 7.35813 19.8726 6.57386 19.4009C6.78192 19.2467 6.98544 19.0856 7.18207 18.9198C11.9655 21.1571 17.1629 21.1571 21.8892 18.9198C22.0882 19.0856 22.2917 19.2467 22.4974 19.4009C21.7109 19.875 20.8786 20.2813 20.012 20.6106C20.467 21.5214 20.9929 22.3902 21.5874 23.2053C23.9883 22.4579 26.4303 21.3159 28.9478 19.4336C29.5515 13.0415 27.9166 7.49959 24.6262 2.58588ZM9.70643 16.0426C8.27048 16.0426 7.09288 14.702 7.09288 13.0696C7.09288 11.4371 8.24533 10.0943 9.70643 10.0943C11.1676 10.0943 12.3451 11.4348 12.32 13.0696C12.3222 14.702 11.1676 16.0426 9.70643 16.0426ZM19.3649 16.0426C17.9289 16.0426 16.7513 14.702 16.7513 13.0696C16.7513 11.4371 17.9037 10.0943 19.3649 10.0943C20.826 10.0943 22.0036 11.4348 21.9784 13.0696C21.9784 14.702 20.826 16.0426 19.3649 16.0426Z' fill='white')

                a(href='#')
                    svg(width='30' height='22' viewbox='0 0 30 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M23.0356 0.714844H6.03971C2.70515 0.714844 0.00195312 3.41804 0.00195312 6.7526V15.2487C0.00195312 18.5833 2.70515 21.2865 6.03971 21.2865H23.0356C26.3702 21.2865 29.0734 18.5833 29.0734 15.2487V6.7526C29.0734 3.41804 26.3702 0.714844 23.0356 0.714844ZM18.9523 11.414L11.0028 15.2055C10.791 15.3065 10.5463 15.1521 10.5463 14.9174V7.09755C10.5463 6.85955 10.7974 6.70531 11.0096 6.81289L18.9592 10.8413C19.1955 10.9611 19.1914 11.3 18.9523 11.414Z' fill='white')
        .container-footer-nav.d-flex.justify-content-between
            nav.nav
                a.nav-link.nav-link-footer(aria-current="page" href="/") Главная
                a.nav-link.nav-link-footer(href="#") Игры
                a.nav-link.nav-link-footer(href="#") Тарифы
                a.nav-link.nav-link-footer(href="#") Команда проекта
                a.nav-link.nav-link-footer(href="#") Контакты
            nav.nav.link-documents
                a.nav-link.nav-link-footer(href="#") Политика конфиденциальности
                a.nav-link.nav-link-footer(href="#") Публичная оферта
            p.trademark © Dictor Dialog 2023
