<!-- карусель новостей -->
h2.h2.comment-header.mx-20 Отзывы
    span.mobile-none  комьюнити

.comments.mx-20
    .overf-cont
        .comments-container
            .row
                .col.col-comment
                    .card.card-comment
                        .inner-container
                            p.name-author-comment Попков александр
                            a.link-to-comment(href='#') Ссылка нa отзыв
                        .inner-container
                            p.comment-text «Просто топ! Наконец-то могу поиграть в Gears 5 на русском. Никогда не успевал читать субтитры в процессе игры.
                            p.comment-text А сюжет то норм. Спасибо!»
                .col.col-comment
                    .card.card-comment
                        .inner-container
                            p.name-author-comment Евгений Учуськин
                            a.link-to-comment(href='#') Ссылка нa отзыв
                        .inner-container
                            p.comment-text «Это очень прикольно. Было бы классно озвучить ещё GTA 5. Надеюсь дождусь.
                            p.comment-text Кайфовая тема. Нравится».
                .col.col-comment
                    .card.card-comment
                        .inner-container
                            p.name-author-comment Попков александр
                            a.link-to-comment(href='#') Ссылка нa отзыв
                        .inner-container
                            p.comment-text «Просто топ! Наконец-то могу поиграть в Gears 5 на русском. Никогда не успевал читать субтитры в процессе игры.
                            p.comment-text А сюжет то норм. Спасибо!»
                .col.col-comment
                    .card.card-comment
                        .inner-container
                            p.name-author-comment Евгений Учуськин
                            a.link-to-comment(href='#') Ссылка нa отзыв
                        .inner-container
                            p.comment-text «Это очень прикольно. Было бы классно озвучить ещё GTA 5. Надеюсь дождусь.
                            p.comment-text Кайфовая тема. Нравится».
            .row
                .col.col-comment
                    .card.card-comment
                        .inner-container
                            p.name-author-comment Попков александр
                            a.link-to-comment(href='#') Ссылка нa отзыв
                        .inner-container
                            p.comment-text «Просто топ! Наконец-то могу поиграть в Gears 5 на русском. Никогда не успевал читать субтитры в процессе игры.
                            p.comment-text А сюжет то норм. Спасибо!»
                .col.col-comment
                    .card.card-comment
                        .inner-container
                            p.name-author-comment Евгений Учуськин
                            a.link-to-comment(href='#') Ссылка нa отзыв
                        .inner-container
                            p.comment-text «Это очень прикольно. Было бы классно озвучить ещё GTA 5. Надеюсь дождусь.
                            p.comment-text Кайфовая тема. Нравится».
                .col.col-comment
                    .card.card-comment
                        .inner-container
                            p.name-author-comment Попков александр
                            a.link-to-comment(href='#') Ссылка нa отзыв
                        .inner-container
                            p.comment-text «Просто топ! Наконец-то могу поиграть в Gears 5 на русском. Никогда не успевал читать субтитры в процессе игры.
                            p.comment-text А сюжет то норм. Спасибо!»
                .col.col-comment
                    .card.card-comment
                        .inner-container
                            p.name-author-comment Евгений Учуськин
                            a.link-to-comment(href='#') Ссылка нa отзыв
                        .inner-container
                            p.comment-text «Это очень прикольно. Было бы классно озвучить ещё GTA 5. Надеюсь дождусь.
                            p.comment-text Кайфовая тема. Нравится».

    .btm-more-comment
        button.btn.btn-white.btn-comment(type='button') ЕЩЁ ОТЗЫВЫ!
