.container-contacts.mx-20
    .contacts
        h3.h3-contacts Контакты
        p.text-contacts ИП Скорняков Николай Юрьевич
        p.text-contacts ИНН: 78430057174
        p.text-contacts ОГРНИП: 323470400024612
        a.link.politic-link(href='privacy-policy.html') Политикой конфиденциальности
        a.link.politic-link(href='privacy-policy.html') Договор на оказание услуг
    .logo-nav-white
