<!-- Демо -->
.freeDemo-container.d-flex.justify-content-between.mx-20
    .freeDemo-text.align-self-center
        h3
            | Попробуй
            br
            | демо-версию бесплатно
        p Зарегистрируйся и получи возможность попробовать любую из более 20 игр с озвучкой.
        p Демо доступно на 1000 символов, это около часа игры. Это позволит тебе попробовать и убедиться в результате и работоспособности
        button.btn.btn-white.btn-freeDemo(type='button') Зарегистрироваться и попробовать
    img.picture-freeDemo(src="images/Group.png")

