.container-authorization.container-registration.mx-20
    .img-authorization
        img(src="images/Group.png")
    .authorization
        img.img-logo(src="images/logo.svg")
        p.authorization-label-text Регистрация
        p.social-media-login-text Регистрация с помощью социальных сетей
        .social-media-login
            a(href='#')
                svg(width='30' height='19' viewbox='0 0 30 19' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M15.8438 18.8951C5.90504 18.8951 0.236205 12.0843 0 0.750977H4.97848C5.142 9.06932 8.81218 12.5928 11.7193 13.3193V0.750977H16.4073V7.92509C19.2781 7.61633 22.2939 4.34711 23.3114 0.750977H27.9992C27.2179 5.18258 23.9474 8.4518 21.6217 9.79581C23.9474 10.8855 27.6723 13.737 29.0896 18.8951H23.9292C22.8209 15.4443 20.0594 12.7744 16.4073 12.4112V18.8951H15.8438Z' fill='white')
            a(href='#')
                svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M0 12C0 5.3832 5.3832 0 12 0C14.6723 0 17.2017 0.859771 19.3147 2.4864L16.5262 6.1088C15.2197 5.10309 13.6545 4.57143 12 4.57143C7.90389 4.57143 4.57143 7.90389 4.57143 12C4.57143 16.0961 7.90389 19.4286 12 19.4286C15.2991 19.4286 18.1026 17.2671 19.0688 14.2857H12V9.71429H24V12C24 18.6168 18.6168 24 12 24C5.3832 24 0 18.6168 0 12Z' fill='white')
        .or-lines
            .line
            p.or или
            .line
        .form-control-container.error
            input#userEmail.form-control.form-control-email(type='email' placeholder='Эл. адрес')
            .error-text
                | Некорректные данные
        .password
            input#userPassword.form-control.form-control-password(type='password' placeholder='Пароль')
            button#toggle-visibility(type='button')
                svg.opened-eye(display='none' width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7C14.76 7 17 9.24 17 12C17 14.76 14.76 17 12 17ZM12 9C10.34 9 9 10.34 9 12C9 13.66 10.34 15 12 15C13.66 15 15 13.66 15 12C15 10.34 13.66 9 12 9Z' fill='#444444')
                svg.closed-eye(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M12 7C14.76 7 17 9.24 17 12C17 12.65 16.87 13.26 16.64 13.83L19.56 16.75C21.07 15.49 22.26 13.86 22.99 12C21.26 7.61 16.99 4.5 11.99 4.5C10.59 4.5 9.25 4.75 8.01 5.2L10.17 7.36C10.74 7.13 11.35 7 12 7ZM2 4.27L4.28 6.55L4.74 7.01C3.08 8.3 1.78 10.02 1 12C2.73 16.39 7 19.5 12 19.5C13.55 19.5 15.03 19.2 16.38 18.66L16.8 19.08L19.73 22L21 20.73L3.27 3L2 4.27ZM7.53 9.8L9.08 11.35C9.03 11.56 9 11.78 9 12C9 13.66 10.34 15 12 15C12.22 15 12.44 14.97 12.65 14.92L14.2 16.47C13.53 16.8 12.79 17 12 17C9.24 17 7 14.76 7 12C7 11.21 7.2 10.47 7.53 9.8ZM11.84 9.02L14.99 12.17L15.01 12.01C15.01 10.35 13.67 9.01 12.01 9.01L11.84 9.02Z' fill='#444444')
        .password.repeat-password
            input#repeatPassword.form-control.form-control-password(type='password' placeholder='Пароль')
            button#toggle-repeat-visibility(type='button')
                svg.opened-eye.repeat-opened-eye(display='none' width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7C14.76 7 17 9.24 17 12C17 14.76 14.76 17 12 17ZM12 9C10.34 9 9 10.34 9 12C9 13.66 10.34 15 12 15C13.66 15 15 13.66 15 12C15 10.34 13.66 9 12 9Z' fill='#444444')
                svg.closed-eye.repeat-closed-eye(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M12 7C14.76 7 17 9.24 17 12C17 12.65 16.87 13.26 16.64 13.83L19.56 16.75C21.07 15.49 22.26 13.86 22.99 12C21.26 7.61 16.99 4.5 11.99 4.5C10.59 4.5 9.25 4.75 8.01 5.2L10.17 7.36C10.74 7.13 11.35 7 12 7ZM2 4.27L4.28 6.55L4.74 7.01C3.08 8.3 1.78 10.02 1 12C2.73 16.39 7 19.5 12 19.5C13.55 19.5 15.03 19.2 16.38 18.66L16.8 19.08L19.73 22L21 20.73L3.27 3L2 4.27ZM7.53 9.8L9.08 11.35C9.03 11.56 9 11.78 9 12C9 13.66 10.34 15 12 15C12.22 15 12.44 14.97 12.65 14.92L14.2 16.47C13.53 16.8 12.79 17 12 17C9.24 17 7 14.76 7 12C7 11.21 7.2 10.47 7.53 9.8ZM11.84 9.02L14.99 12.17L15.01 12.01C15.01 10.35 13.67 9.01 12.01 9.01L11.84 9.02Z' fill='#444444')
        label.lbl-wrap
            input#chk3.checkbox-custom(name='custChk' type='checkbox')
            span.checkbox-span
            label.checkbox-custom-label(for='chk3')
                | Я ознакомлен и согласен
                br
                | с
                a.link.politic-link(href='privacy-policy.html')  Политикой конфиденциальности

        button.btn.btn-gradient.btn-login(type='button') Зарегистрироваться
        .registration-password
            a.link(href='authorization.html') Авторизоваться
            a.link(href='password-recovery.html') Забыли пароль?

